@font-face {
	font-family: 'PFDinDisplayPro-Light';
	src: url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PFDinDisplayPro-Med';
	src: url("../fonts/PFDinDisplayPro-Med.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Light';
	src: url("../fonts/HelveticaNeueCyr-Light.eot");
	src: url("../fonts/HelveticaNeueCyr-Light.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Light.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Light.svg#HelveticaNeueCyr-Light") format("svg"), url("../fonts/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Bold';
	src: url("../fonts/HelveticaNeueCyr-Bold.eot");
	src: url("../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Bold.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Bold.svg#HelveticaNeueCyr-Bold") format("svg"), url("../fonts/HelveticaNeueCyr-Bold.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Thin';
	src: url("../fonts/HelveticaNeueCyr-Thin.eot");
	src: url("../fonts/HelveticaNeueCyr-Thin.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Thin.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Thin.svg#HelveticaNeueCyr-Thin") format("svg"), url("../fonts/HelveticaNeueCyr-Thin.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'HelveticaNeueCyr-Roman';
	src: url("../fonts/HelveticaNeueCyr-Roman.eot");
	src: url("../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2"), url("../fonts/HelveticaNeueCyr-Roman.woff") format("woff"), url("../fonts/HelveticaNeueCyr-Roman.ttf") format("truetype"), url("../fonts/HelveticaNeueCyr-Roman.svg#HelveticaNeueCyr-Roman") format("svg"), url("../fonts/HelveticaNeueCyr-Roman.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}

body {
	background-color: #fff;
	font-size: 14px;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/*header*/
.icon {
	display: none;
}

/*overlay for opened menu*/
.mob-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(6, 6, 6, 0.7);
	z-index: 90;
}

/*toggle mobile icon*/
.icon span,
.icon span:before,
.icon span:after {
	content: "";
	position: absolute;
	display: block;
	width: 25px;
	height: 3px;
	border-radius: 1px;
	border-color: white;
	background: #fff;
	cursor: pointer;
}

.icon span:before {
	top: -10px;
}

.icon span:after {
	bottom: -10px;
}

.icon span,
.icon span:before,
.icon span:after {
	transition: all 300ms ease-in-out;
}

.icon.active span {
	background-color: transparent;
}

.icon.active span:before,
.icon.active span:after {
	top: 0;
}

.icon.active span:before {
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

.icon.active span:after {
	top: 10px;
	-ms-transform: translatey(-10px) rotate(-45deg);
	transform: translatey(-10px) rotate(-45deg);
}

/*end of toggle mobile icon*/
.header_img {
	background: url("../img/bicycle.png") no-repeat;
	background-size: cover;
	background-position: center center;
}

.left_header_nav {
	padding: 0;
	margin-top: 24px;
	display: inline-block;
}

.left_header_nav li {
	display: inline-block;
	margin-right: 40px;
}

.left_header_nav li a {
	color: #000;
	font-size: 15px;
	font-weight: 300;
	font-family: 'HelveticaNeueCyr-Light', Arial;
}

.left_header_nav li a:hover,
.left_header_nav li a:focus {
	text-decoration: none;
}

.right_header_nav {
	margin-top: 8px;
	float: right;
	padding: 0;
}

.right_header_nav li {
	display: inline-block;
	float: right;
}

/* header icons*/
.header_phone_icon:hover:before,
.header_phone_icon:focus:before {
	transition: all ease-in 0.3s;
	background-color: #fff;
}

.header_phone_icon:before {
	margin-right: 14px;
	content: "";
	width: 49px;
	height: 49px;
	border-radius: 50%;
	display: inline-block;
	background: url("../img/header_phone.png") no-repeat;
	background-position: center center;
	background-size: 23px 23px;
	border: 2px solid #000;
}

.header_phone_icon:before:hover,
.header_phone_icon:before:focus {
	background-color: #FFF;
}

.header_card_icon {
	text-decoration: none;
}

.header_card_icon:hover:before,
.header_card_icon:focus:before {
	transition: all ease-in 0.3s;
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}

.header_card_icon:before {
	content: "";
	width: 49px;
	height: 49px;
	margin-right: -6px;
	border-radius: 50%;
	display: inline-block;
	background: url("../img/header_card.png") no-repeat, #04bde5;
	background-position: center center;
	background-size: 30px 28px;
}

.header_facebook_icon:hover:before,
.header_facebook_icon:focus:before {
	transition: all ease-in 0.3s;
	background-color: #04bde5;
}

.header_facebook_icon:before {
	margin-right: 19px;
	content: "";
	width: 49px;
	height: 49px;
	border-radius: 50%;
	display: inline-block;
	background: url("../img/header_facebook.png") no-repeat;
	background-position: center center;
	background-size: 11px 22px;
	border: 2px solid #04bde5;
}

.card_icon_counter {
	position: relative;
	bottom: 40px;
	right: 17px;
	font-family: 'HelveticaNeueCyr-Roman', Arial;
	color: #fff;
	text-decoration: none;
	/* padding: 4px; */
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 6px;
	font-size: 14px;
	border-radius: 50%;
	background-color: #e50404;
	padding-right: 6px;
}

.header_phone_text {
	color: #000000;
	font-size: 19px;
	font-weight: 400;
	line-height: 50px;
	font-family: 'HelveticaNeueCyr-Roman', Arial;
}

.logo_text {
	padding-top: 220px;
	padding-bottom: 206px;
	font-size: 70px;
	margin: 0px;
	margin-left: 30px;
	font-family: 'HelveticaNeueThin', Arial;
}

.logo_text p {
	margin: 0px;
}

.first_word_logo {
	font-family: 'HelveticaNeueCyr-Bold', Arial;
	font-size: 70px;
	line-height: 27px;
	position: relative;
	z-index: 10;
}

.first_word_logo:before {
	left: -15px;
	content: "";
	background-color: #FFF;
	position: absolute;
	width: 60px;
	height: 120px;
	z-index: -1;
	border-left: 7px solid #bdc0c5;
}

.first_word_logo::after {
	left: 0;
	content: "";
	background-color: #04bde5;
	position: absolute;
	top: 90%;
	left: 5%;
	width: 25px;
	height: 6px;
	z-index: -1;
}

.second_word_logo {
	font-size: 70px;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	position: relative;
	z-index: 10;
}

.second_sentence_logo {
	padding-top: 5px;
	padding-bottom: 58px;
	color: #6b6b6b;
	font-size: 20px;
	font-family: 'HelveticaNeueCyr-Light', Arial;
	position: relative;
	z-index: 10;
}

.scroll_down_img {
	text-align: center;
	padding-bottom: 25px;
}

.scroll_down_img .scroll {
	cursor: pointer;
	animation: scl 3s infinite;
}

@keyframes scl {
	0% {
		transform: translateY(-3px);
	}

	25% {
		transform: translateY(3px);
	}

	50% {
		transform: translateY(-3px);
	}

	75% {
		transform: translateY(3px);
	}

	100% {
		transform: translateY(-3px);
	}
}

/* end of header*/
/*start of the table with links*/
.word_links {
	margin: 0 auto;
	margin-top: 26px;
	margin-bottom: 55px;
	font-size: 0;
}

.wrapper {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.filter {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}

.word {
	text-transform: uppercase;
	font-family: 'HelveticaNeueCyr-Bold', Arial;
	width: 38px;
	height: 38px;
	line-height: 36px;
	border: 1px solid #c6c6c6;
	font-size: 25px;
	color: #000;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	transition: 0.2s;
}

.word:hover,
.word:focus {
	background-color: #000;
	color: #fff;
}

.word_key {
	vertical-align: super;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	text-decoration: underline;
	font-size: 14px;
	color: #000;
	margin-left: 8px;
}

.filter td {
	padding: 10px 15px;
}

/*start of the block with a lot of bicycles*/
.img_opacity:hover,
.img_opacity:focus {
	opacity: 0.8;
	transition: .3s;
}

.image_overlay_content {
	position: absolute;
	top: 4%;
	left: 50px;
}

.image_overlay_content p {
	text-align: left;
	line-height: 10px;
}

.image_overlay_content a {
	text-decoration: none;
	border-radius: 18px;
	padding: 10px 20px;
	line-height: 40px;
	transition: all ease-in 0.2s;
}

.image_overlay_content a:hover,
.image_overlay_content a:focus {
	opacity: 0.7;
	box-shadow: inset 0px 0px 8px 2px rgba(65, 185, 185, 0.25);
}

.image_overlay_content:hover,
.image_overlay_content:focus {
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
	transition: all ease-in 0.4s;
}

.image_overlay_header-grey {
	text-align: left;
	color: #606060;
	font-size: 16px;
	font-family: 'HelveticaNeueCyr-Light', Arial;
}

.image_overlay_header-white {
	color: #e8e8e8;
	font-size: 16px;
	font-family: 'HelveticaNeueCyr-Light', Arial;
}

.image_overlay_bold {
	font-size: 31px;
	font-weight: 700;
	text-align: left;
}

.image_overlay_bold-white {
	font-size: 31px;
	font-weight: 700;
	text-align: left;
	color: #fff;
}

.adventure {
	font-size: 25px;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	margin-left: 5px;
}

.thin_black {
	font-size: 31px;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	margin-left: 5px;
}

.thin_white {
	font-size: 30px;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	margin-left: 5px;
	color: #fff;
}

.image_overlay_btn-black-bold {
	font-size: 18px;
	font-family: 'HelveticaNeueCyr-Bold', Arial;
	color: #000;
}

.image_overlay_btn-black-thin {
	color: #000;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	font-size: 18px;
}

.image_overlay_btn-white-bold {
	font-size: 18px;
	font-family: 'HelveticaNeueCyr-Bold', Arial;
	color: #fff;
}

.image_overlay_btn-white-thin {
	color: #fff;
	font-family: 'HelveticaNeueCyr-Thin', Arial;
	font-size: 18px;
}

.cyan_border {
	border: 2px solid #04bde5;
}

.black_border {
	border: 2px solid #000;
}

.white_border {
	border: 2px solid #fff;
}

/*byciles(2 images)*/
.bycicles_header {
	font-family: 'HelveticaNeueCyr-Light', Arial;
	font-size: 34px;
	font-weight: 300;
	line-height: 27px;
}

.bycicles_description {
	font-size: 15px;
	color: #545353;
	line-height: 19px;
	font-family: 'HelveticaNeueCyr-Roman', Arial;
}

.last_images {
	margin-top: 30px;
	margin-bottom: 50px;
}

.last_images_black_btn {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 18px 45px;
	font-size: 20px;
	color: #000;
	text-decoration: none;
	border-radius: 30px;
	border: 2px solid #000;
	transition: all ease-in 0.2s;
	font-family: 'HelveticaNeueCyr-Roman', Arial;
}

.last_images_black_btn:hover,
.last_images_black_btn:focus {
	color: #00c7e9;
	border-color: #00c7e9;
}

.last_images_white_btn {
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 18px 43px;
	font-size: 20px;
	color: #fff;
	text-decoration: none;
	border-radius: 30px;
	border: 2px solid #fff;
	transition: all ease-in 0.2s;
	font-family: 'HelveticaNeueCyr-Bold', Arial;
}

.last_images_white_btn:hover,
.last_images_white_btn:focus {
	color: #00c7e9;
	border-color: #00c7e9;
}

/*end of byciles(2 images)*/
/*footer*/
.footer {
	padding-top: 31px;
	background-color: #373737;
}

.footer h3 {
	font-family: 'PFDinDisplayPro-Med', Arial;
	color: #949494;
	font-size: 16px;
	font-weight: 500;
	margin-top: 31px;
	line-height: 20px;
	margin: 0px;
}

.footer p {
	font-family: "PFDinDisplayPro-Light", Arial;
	color: #8e8e8e;
	font-size: 14px;
	margin: 0px;
	line-height: 28px;
}

.copyright {
	margin-top: 40px;
	text-align: center;
	color: #949494;
	font-size: 12px;
	padding-bottom: 13px;
	font-family: 'HelveticaNeueCyr-Light', Arial;
}