@media (max-width: 1200px) {
    .wrapper {
        max-width: 947px
    }
    .img-responsive {
        width: 100%;
        height: auto
    }
    .filter td {
        padding: 10px 0px
    }
}
@media (max-width: 992px) {
    .filter td {
        width: 33.3333%;
        display: inline-block;
        vertical-align: top
    }
    .wrapper {
        max-width: 720px
    }
    .footer {
        text-align: center
    }
    .logo_text {
        padding-top: 140px;
        padding-bottom: 187px;
        margin-left: 30px
    }
    .left_header_nav {
        text-align: center;
        display: block
    }
    .right_header_nav {
        text-align: center;
        float: none
    }
    .right_header_nav li {
        float: none
    }
    .header_phone_text {
        text-align: center !important;
        display: block !important
    }
}
@media (max-width: 768px) {
    .bycicles_header {
        text-align: center
    }
    .filter td {
        width: 50%;
        display: inline-block;
        vertical-align: top
    }
    .wrapper {
        max-width: 530px
    }
    .header_img {
        background-position: 68% center
    }
    .last_images_white_btn {
        padding: 18px 21px
    }
    .last_images_black_btn {
        padding: 18px 29px
    }
    /*make menu responsive*/
    .left_header_nav {
        margin-top: 80px;
        display: block
    }
    .left_header_nav li {
        margin-top: 20px;
        display: block
    }
    #primary_nav {
        display: none
    }
    .icon {
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        top: 36px;
        right: 23px;
        font-size: 30px !important;
        text-decoration: none;
        color: red;
        z-index: 999
    }
    .left_header_nav li {
        margin-right: 0
    }
    .left_header_nav li a {
        color: #fff
    }
    .header_phone_text {
        color: #fff
    }
}
@media (max-width: 576px) {
    .logo_text {
        padding-bottom: 129px;
        padding-top: 180px
    }
    .left_header_nav li {
        margin-left: 0;
        margin-right: 0
    }
    .wrapper {
        max-width: 390px
    }
    .filter td {
        width: 100%;
        display: inline-block;
        vertical-align: top
    }
}
@media (max-width: 433px) {
    .logo_text {
        padding-bottom: 0px;
        padding-top: 165px
    }
}
@media (max-width: 448px) {
    .filter td {
        width: 100%;
        display: inline-block;
        vertical-align: top
    }
    .wrapper {
        max-width: 260px
    }
}
